@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--button-height: 3.5rem;
		--sky-950: 8, 47, 73;
		--dark-blue: rgb(var(--sky-950));
		--max-card-width: 18.75rem;
		--app-padding: 4rem;
	}

	html,
	body {
		@apply min-h-screen h-full bg-background font-sans;
	}

	#root {
		@apply h-full;
	}
}

@layer utilities {
	.shimmer {
		overflow: hidden;
		position: relative;
	}

	.shimmer::before {
		content: '';
		position: absolute;
		inset: 0px;
		transform: translateX(-100%);
		animation: shimmer 1.5s infinite;
		background: linear-gradient(
			to right,
			transparent,
			#ffffff30,
			transparent
		);
	}

	@keyframes shimmer {
		to {
			transform: translateX(100%);
		}
	}
}
